<div>
  <form [formGroup]="form" (ngSubmit)="login()" *ngIf="(loginFormVisible | async)">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email"/>
      <app-validation-errors translationPrefix="loginForm" [control]="form.get('email')"></app-validation-errors>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password"/>
      <app-validation-errors translationPrefix="loginForm" [control]="form.get('password')"></app-validation-errors>
    </div>
    <button type="submit" [disabled]="!form.valid">Login</button>
    <app-validation-errors translationPrefix="loginForm" [control]="form"></app-validation-errors>
  </form>

  <p *ngIf="loggedIn | async">
    logged in as {{userName | async}}
    <button (click)="logout()">Logout</button>
  </p>
</div>