/*todo: use grid layout*/
label, input {
  display:block;
}

label {
  text-align: left;
}

form>div {
  display:inline-block;
  vertical-align: top;
}

form>button {
  position:relative;
  top:1.2rem;
}